gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
android/app/key.properties
android/app/nosmoke.jks
android/app/proguard-rules.pro
**/*.keystore
**/*.jks
